h1 {
    background: linear-gradient(to bottom, #dfd224, red, #4295f3);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
}
@media only screen and (max-width:761px){
    .inp{
        width: 450px;
    }
    .input-group{
        display: block;
        width: 90%;
    }
    button{
        margin-top: 10px;
    }
}
@media only screen and (max-width:450px){
    .inp{
        width: 650px;
    }
    .input-group{
        display: block;
        width: 90%;
    }
}